@model ERP_Document.ViewModel.UserViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Thêm người dùng</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" });

            <div class="form-group">
                <label>Tên người dùng</label>
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tên người dùng mới" })
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Tài khoản</label>
                        @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tài khoản" })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Địa chỉ Email</label>
                        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập địa chỉ email" })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập số điện thoại" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Đia chỉ công tác</label>
                @Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập địa chỉ công tác" })
            </div>
            <div class="form-group">
                <label>Phong ban hiện tại</label>
                @Html.DropDownListFor(model => model._DepartmentId,Model.Departments, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập địa chỉ công tác" })
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                <a href="/User/Index" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>
